html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 375px;
  margin: 30px 0;
  background-color: #f5f5f5;
}

.error {
    color: rgba(255, 0, 0, 0.541);
}

.inside-list {
    display: none;
}

.inside-list.active {
    display: block;
}

.main-item {
    text-align: center;
    cursor: pointer;
    color: rgb(14, 13, 13);
    background-color: rgb(240, 198, 198);
}

.main-item.disabled {
    pointer-events: none;
}

.secondary-item {
    font-size: 14px;
    font-weight: 400;
    pointer-events: none;
}
